
@{
// abaixo é definido aonde essa View sera carregada
//Layout = "~/Views/Shared/_Layout.cshtml";

// Ela chama o layout page _Layout.cshtml, e o conteudo html dessa View sera carregado dentro da tag que contem @RenderBody()
}

@* O codigo Acima esta comentado, pois esta sendo usado um bloco de variaveis globais em _ViewStart.cshtml, onde esta sendo usado em todas Views *@

<h1>Página Inicial da aplicação</h1>

