
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Form</title>
</head>
<body>
    @* Dando submit no formulario e direcionado para a Controller Adicona, que ira fazer o cadastro *@
    <div> 
        <form action="/Produto/Adiciona" method="post">
            <label for="nome">Nome:</label>
            @* Para que o controller receba a instancia Produto, e não atributos separados, deve seguir o padão de atributos do objeto, com "produto." na frente *@
            <input id="nome" name="produto.Nome" />

            <label for="preco">Preço:</label>
            <input id="preco" name="produto.Preco" />

            <label for="quantidade">Quantidade:</label>
            <input id="quantidade" name="produto.Quantidade" />

            <label for="descricao">Descrição:</label>
            <input id="descricao" name="produto.Descricao" />

            <label for="categoria">Categoria:</label>
            <select id="categoria" name="produto.CategoriaId">
                @foreach (var categoria in ViewBag.Categorias)
                {
                    <option value="@categoria.Id">@categoria.Nome</option>
                }
            </select>

            <input type="submit" value="Cadastrar"/>
        </form>
    </div>
</body>
</html>
