@model IList<CaelumEstoque.Models.Produto>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach(CaelumEstoque.Models.Produto produto in ViewBag.Produtos)*@
        @* Model recebe a propriedade passada pelo return View() no Controller, Acima é definido o tipo da mesma *@
        @foreach (var produto in Model)
        {
            <tr>
                <td>@produto.Id</td>

                @* Link de navegação, ActionLink, primeiro parametro é o texto do link, segundo é ActionResult do controller que sera chamada, terceira os parametros passados para ActionResult*@
                <td>@Html.ActionLink(produto.Nome, "Visualiza", new { Id = produto.Id })</td>
                @* OU *@
                @* Link de navegação, RouteLink ,primeiro parametro é o texto do link, segundo é o nome da rota, terceira os parametros passados para ActionResult*@
                @*@Html.RouteLink(produto.Nome, "VisualizaProduto", new { Id = produto.Id })*@
                <td>@produto.Quantidade</td>
            </tr>
        }
    </tbody>
</table>

<h3>@Html.ActionLink("Adicionar Produto", "Form")</h3>